* {
  /* font-family: "CaskaydiaMono Nerd Font Propo"; */
  font-family: FiraCode Nerd Font Propo;
  font-size: 14px;
}

/* theme de la barre en elle meme */
window#waybar {
  background-color: rgba(153, 53, 144, 0.9);
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  /* color: #ffffff; */
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* sapplique au workspaces */
button {
  /* box-shadow: inset 0 -3px transparent; */
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  background: #FFF0C0;
  box-shadow: inset 0 -3px #E1BE4E;
}

#taskbar button.active {
  background: #FFF0C0;
  box-shadow: inset 0 -3px #E1BE4E;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
  background: inherit;
}

#taskbar,
#workspaces,
#pulseaudio,
#network,
#battery,
#backlight,
#power-profiles-daemon,
#custom-anki,
#clock {
  border-bottom: 1px solid #993590;
  /* width: 24px; */
  /* padding: inherit; */
  /* padding: var(inherit or 12px); */
  padding: 0 12px;
  background-color: #C946BE;
  color: black
    /* padding-right: 12px; */
}

#mpris {
  color: #FFC0FA;
}


#taskbar {
  padding-top: 0;
}

#taskbar,
#workspaces,
#clock {
  background-color: #FFC0FA;
}