spawn-sh-at-startup "swayidle -w timeout 500 'swaylock'"
spawn-sh-at-startup "thunderbird"
spawn-sh-at-startup "niri msg action focus-workspace-down"

window-rule {
    match app-id="^gimp" title="^Lancement de GIMP$"
    open-focused false
}

window-rule {
    match app-id="^blender$"
    match app-id="^gimp"
    default-column-width { fixed 1200; }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id=r#"steam$"# title="^Friends List$"
    open-floating true
}

window-rule {
  match app-id="anki"
  default-column-display "tabbed"
}

window-rule{
  match app-id="org.kde.kdeconnect.handler"
  open-floating true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

environment {
    QT_QPA_PLATFORMTHEME "qt6ct"
    DISPLAY ":1"
    EDITOR "hx"
    VISUAL "hx"
    PAGER "less"
    PATH "/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/home/nestor/.local/bin:/home/nestor/.cargo/bin/:/home/nestor/.local/bin"
    WOBSOCK_VOL "/run/user/1000/wob_volume.sock"
    WOBSOCK_BRI "/run/user/1000/wob_bright.sock"
}

